// Specific CSS for your home-page


.main-container {
    .content-container {
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 100%;
      a {
        background-color: #793a6f !important;
        background: linear-gradient(292deg, rgba(62, 43, 96, 0.521) 5%, rgba(93, 52, 112, 0.568) 100%);
        padding: 15px 20px;
        margin-top: 50px;
        text-decoration: none;
        text-align: center;
        color: white;
        width: 250px;
        &:hover {
          -webkit-box-shadow: 5px 5px 15px 5px #00000041; 
          box-shadow: 5px 5px 15px 5px #0000004d;
          background-color: #3e2b60 !important;
          
          transition: 0.75s;
        }
    }
  }

}
.about-container {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 1px;
}