// Specific CSS for your home-page


.main-container {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.253);
}
.about-container {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 1px;
}