.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100%;
  background: rgb(125,65,135);
  background: linear-gradient(128deg, rgba(125,65,135,1) 1%, rgba(126,54,138,0.8547794117647058) 52%, rgba(62,43,96,1) 100%);
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}