// fx
@keyframes change_bkg_pastel {
  50% {background-color: rgba(255, 0, 149, 0.74);}
}
@keyframes really-colourful {
  2%   {background-color: rgb(247, 93, 234);}
  27%  {background-color: rgb(243, 166, 66);}
  52%  {background-color: rgb(69, 216, 241);}
  98% {background-color: rgb(107, 75, 224);}
}
@keyframes shadow-blink {
  50% {-webkit-box-shadow: 0px 2px 50px 20px rgba(255, 0, 149, 0.74);
    box-shadow:  0px 2px 50px 20px rgba(255, 0, 149, 0.74);}
}
.cards-group {
  margin: 50px 0px;
  margin-left: 110px;
  width: auto;
}

// card configs
.card-img-size {
  height: 218px;
  width: 218px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card-size {
  width: 220px;
  height: 450px;
  margin: 20px 40px !important;

}

// wigs cards
.card {
  border-radius: 10px;
  background-color: #ffffff80;
  margin: 20px 10px;
  &:hover {
    background-color: #ffffff;
    transition: 0.75s;
  }
  .card-title {
    font-weight: bold;
    font-size: 98%;
  }
  h6 {
    position: absolute;
    bottom: 100px;
  }
  .text-muted {
    position: absolute;
    bottom: 60px;
  }
  a {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #2b243f;
    padding: 10px;
    text-decoration: none;
    color: white;
    position: absolute;
    width: 218px;
    left: 0;
    text-align: center;
    bottom: 0;
    &:hover {
      transition: 1s;
      animation-name: really-colourful;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      font-size: 1.2em;
    }
  }
}

// cards-container
// FORM
.cards-container {
  .form-container {
    background-color: #ffffff00;
    margin: 0 50px;
  }
  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 50px;

    .search-input {
      width: 500px;
    }
    .btn-search {
      border: 1px solid transparent;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 500px;
      background-color: #2b243f;
      text-decoration: none;
      color: white;
      text-align: center;
    &:hover {
      transition: 1s;
      animation-name: really-colourful;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }


    }
  }
}
// first card (to create a wig)
.new-wig-card {
  background-color: #d3c3d381 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .inside-card {
    margin-top: 150px;
  }
  a {
    background-color: rgba(255, 192, 247, 0) !important;
    color: black;
    right: 42px;
    text-align: center;
    padding: 212px 0;
  }
  &:hover {
    background-color: #ffffff00;
    animation-name: change_bkg_pastel !important;
    animation-duration: 4s !important;
    animation-iteration-count: infinite;
  }

}
// random box-shadow

.shadow-blue {
  &:hover {
    -webkit-box-shadow: 0px 2px 19px 2px #490df0de;
      box-shadow:  0px 2px 19px 2px #490df0e5;
      animation: shadow-blink 6s infinite;
  }
}
.shadow-green {
  &:hover {
    -webkit-box-shadow:  0px 2px 19px 2px #0df046e1;
    box-shadow:  0px 2px 19px 2px #0df046da;
    animation: shadow-blink 6s infinite;
  }
}
.shadow-pink {
  &:hover {
    -webkit-box-shadow:  0px 2px 19px 2px #f00db7d8;
    box-shadow:  0px 2px 19px 2px #f00db7e1;
    animation: shadow-blink 6s infinite;
  }
}
.shadow-purple {
  &:hover {
    -webkit-box-shadow:  0px 2px 19px 2px #820df0ea;
    box-shadow:  0px 2px 19px 2px #820df0e1;
    animation: shadow-blink 6s infinite;
  }
}
.shadow-yellow {
  &:hover {
    -webkit-box-shadow:  0px 2px 19px 2px #eede06e8;
    box-shadow:  0px 2px 19px 2px #eede06e1;
    animation: shadow-blink 6s infinite;
  }
}
.shadow-orange {
  &:hover {
    -webkit-box-shadow:  0px 2px 19px 2px #f07b0de3;
    box-shadow:  0px 2px 19px 2px #f07b0dde;
    animation: shadow-blink 6s infinite;
  }
}

