// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer";
@import "components/navbar";
@import "components/banner";
@import "components/search_form";
@import "components/wig-card";

body {
  background-image:  linear-gradient(rgba(180, 171, 184, 0.911),rgba(154, 139, 161, 0.747)), url("https://media0.giphy.com/media/3o7aCRZYNerX4ovPwI/giphy.gif?cid=ecf05e47ayppf2i6ekp7qortxw9yglz3sgex9xzfl0hurtz4&rid=giphy.gif");
  background-color: #7D4187;
  background-size: 100%;
  background-repeat: round;
}
#text {
  display: none;
}